body {
  background-color: #666;
}
#canvas {
    background-color: #fff;    
}

canvas {
    position: absolute;
//    width: 700px;
//    height: 500px;
}
#canvas {
    z-index: 1;
}
#plot_canvas {
    z-index: 2;
}

